Initial setup

In [1]:
import pandas as pd

In [2]:
# Establish paths to our CSV files
wnba2018 = "/Users/caitlindonovan/Desktop/ColumbiaBootcamp/Homework/group_project2/Data/WNBA_2018_season.csv"
wnba2019 = "/Users/caitlindonovan/Desktop/ColumbiaBootcamp/Homework/group_project2/Data/WNBA_2019_season.csv"
player2018 = "/Users/caitlindonovan/Desktop/ColumbiaBootcamp/Homework/group_project2/Data/player_stats_2018.csv"
player2019 = "/Users/caitlindonovan/Desktop/ColumbiaBootcamp/Homework/group_project2/Data/player_stats_2019.csv"

# Read our WNBA data into pandas
wnba_2018_df = pd.read_csv(wnba2018)
wnba_2019_df = pd.read_csv(wnba2019)
player_2018_df = pd.read_csv(player2018)
player_2019_df = pd.read_csv(player2019)

View the new DFs

In [3]:
wnba_2018_df.head()

                Date   Visitor/Neutral  PTS     Home/Neutral  PTS.1 Unnamed: 5
0  Fri, May 18, 2018      Dallas Wings   78  Phoenix Mercury     86  Box Score
1  Sat, May 19, 2018       Chicago Sky   82    Indiana Fever     64  Box Score
2  Sun, May 20, 2018  New York Liberty   76      Chicago Sky     80  Box Score
3  Sun, May 20, 2018    Las Vegas Aces   65  Connecticut Sun    101  Box Score
4  Sun, May 20, 2018     Atlanta Dream   78     Dallas Wings    101  Box Score

In [4]:
wnba_2019_df.head()

,Date,Visitor/Neutral,PTS,Home/Neutral,PTS.1,Unnamed: 5
0,"Fri, May 24, 2019",Dallas Wings,72,Atlanta Dream,76,Box Score
1,"Fri, May 24, 2019",Indiana Fever,81,New York Liberty,80,Box Score
2,"Sat, May 25, 2019",Washington Mystics,69,Connecticut Sun,84,Box Score
3,"Sat, May 25, 2019",Chicago Sky,71,Minnesota Lynx,89,Box Score
4,"Sat, May 25, 2019",Phoenix Mercury,68,Seattle Storm,77,Box Score

In [5]:
player_2018_df.head()

,Player,Tm,Pos,G,GS,MP,FG,FGA,FG%,3P,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Natalie Achonwa,IND,C,34,34,883,137,260,0.527,0,...,95,0.800,86,234,46,29,23,38,106,350
1,Kayla Alexander,IND,C,30,0,257,33,61,0.541,0,...,17,0.824,21,65,5,4,10,19,37,80
2,Lindsay Allen,LVA,G,24,6,358,28,73,0.384,1,...,24,0.708,3,30,69,15,0,21,17,74
3,Rebecca Allen,NYL,F,28,0,291,38,101,0.376,10,...,25,0.840,13,48,8,9,11,16,36,107
4,Ariel Atkins,WAS,G,29,24,652,120,278,0.432,45,...,51,0.824,28,69,60,39,10,39,73,327

In [6]:
player_2019_df.head()

,Player,Tm,Pos,G,GS,MP,FG,FGA,FG%,3P,...,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Natalie Achonwa,IND,C,30,18,636,99,203,0.488,3,...,66,0.909,48,156,48,18,20,29,77,261
1,Kayla Alexander,CHI,C,3,0,20,3,4,0.750,0,...,4,0.750,2,7,1,0,0,1,3,9
2,Rebecca Allen,NYL,F,24,2,412,65,156,0.417,29,...,16,0.813,12,61,17,12,18,17,51,172
3,Jillian Alleyne,MIN,NaN,5,0,14,2,6,0.333,0,...,0,NaN,2,5,1,0,1,0,0,4
4,Kristine Anigwe,CON,C-F,17,0,121,11,35,0.314,0,...,17,0.706,14,30,3,6,4,10,17,34

Reduce Player DFs to only the 9 columns we want to evaluate

In [7]:
# 2018 Player Data reduction
# Extract "Player", "Tm", "Pos", "G", "FG", "FG%", "FT", "FT%" and "PTS"
reduced_player18_df = player_2018_df.loc[:, ["Player", "Tm", "Pos", "G", "FG", "FG%", "FT", "FT%", "PTS"]]
reduced_player18_df.head(10)

                Player   Tm  Pos   G   FG    FG%  FT    FT%  PTS
0      Natalie Achonwa  IND    C  34  137  0.527  76  0.800  350
1      Kayla Alexander  IND    C  30   33  0.541  14  0.824   80
2        Lindsay Allen  LVA    G  24   28  0.384  17  0.708   74
3        Rebecca Allen  NYL    F  28   38  0.376  21  0.840  107
4         Ariel Atkins  WAS    G  29  120  0.432  42  0.824  327
5     Seimone Augustus  MIN    G  33  156  0.467  24  0.706  357
6        Rachel Banham  CON    G  33   55  0.414  33  0.868  173
7          Alana Beard  LAS  G-F  30   51  0.392  17  0.810  121
8  Hind Ben Abdelkader  IND    G  14    8  0.186   7  0.875   29
9         Alex Bentley  ATL    G  16   56  0.376   9  0.529  139

In [8]:
# 2019 Player Data reduction
# Extract "Player", "Tm", "Pos", "G", "FG", "FG%", "FT", "FT%" and "PTS"
reduced_player19_df = player_2019_df.loc[:, ["Player", "Tm", "Pos", "G", "FG", "FG%", "FT", "FT%", "PTS"]]
reduced_player19_df.head(10)

             Player   Tm  Pos   G   FG    FG%  FT    FT%  PTS
0   Natalie Achonwa  IND    C  30   99  0.488  60  0.909  261
1   Kayla Alexander  CHI    C   3    3  0.750   3  0.750    9
2     Rebecca Allen  NYL    F  24   65  0.417  13  0.813  172
3   Jillian Alleyne  MIN  NaN   5    2  0.333   0    NaN    4
4   Kristine Anigwe  CON  C-F  17   11  0.314  12  0.706   34
5   Kristine Anigwe  DAL  C-F  10   11  0.333  10  0.667   32
6   Kristine Anigwe  TOT  C-F  27   22  0.324  22  0.688   66
7      Ariel Atkins  WAS    G  33  123  0.416  43  0.811  340
8  Seimone Augustus  MIN    G  12   20  0.313   3  0.750   45
9     Rachel Banham  CON    G  29   37  0.322   9  0.692  105

Remove the Box Score column from the Game Data

In [9]:
# 2018 Game Data reduction
# Extract "Date", "Visitor/Neutral", "PTS", "Visitor/Neutral", "PTS.1"
reduced_game18_df = wnba_2018_df.loc[:, ["Date", "Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
reduced_game18_df.head(10)

                Date     Visitor/Neutral  PTS        Home/Neutral  PTS.1
0  Fri, May 18, 2018        Dallas Wings   78     Phoenix Mercury     86
1  Sat, May 19, 2018         Chicago Sky   82       Indiana Fever     64
2  Sun, May 20, 2018    New York Liberty   76         Chicago Sky     80
3  Sun, May 20, 2018      Las Vegas Aces   65     Connecticut Sun    101
4  Sun, May 20, 2018       Atlanta Dream   78        Dallas Wings    101
5  Sun, May 20, 2018  Los Angeles Sparks   77      Minnesota Lynx     76
6  Sun, May 20, 2018     Phoenix Mercury   87       Seattle Storm     82
7  Sun, May 20, 2018       Indiana Fever   75  Washington Mystics     82
8  Tue, May 22, 2018  Los Angeles Sparks   87       Indiana Fever     70
9  Tue, May 22, 2018      Las Vegas Aces   70  Washington Mystics     75

In [10]:
# 2019 Game Data reduction
# Extract "Date", "Visitor/Neutral", "PTS", "Visitor/Neutral", "PTS.1"
reduced_game19_df = wnba_2019_df.loc[:, ["Date", "Visitor/Neutral", "PTS", "Home/Neutral", "PTS.1"]]
reduced_game19_df.head(10)

                Date     Visitor/Neutral  PTS        Home/Neutral  PTS.1
0  Fri, May 24, 2019        Dallas Wings   72       Atlanta Dream     76
1  Fri, May 24, 2019       Indiana Fever   81    New York Liberty     80
2  Sat, May 25, 2019  Washington Mystics   69     Connecticut Sun     84
3  Sat, May 25, 2019         Chicago Sky   71      Minnesota Lynx     89
4  Sat, May 25, 2019     Phoenix Mercury   68       Seattle Storm     77
5  Sun, May 26, 2019  Los Angeles Sparks   70      Las Vegas Aces     83
6  Tue, May 28, 2019       Indiana Fever   77     Connecticut Sun     88
7  Wed, May 29, 2019       Seattle Storm   61      Minnesota Lynx     72
8  Fri, May 31, 2019       Seattle Storm   82       Atlanta Dream     66
9  Fri, May 31, 2019     Connecticut Sun   70  Los Angeles Sparks     77

Update the Game Data DFs so team names match the 3 letter accrynyms on the Player Data DFs

In [11]:
#Replace each full team name with 3-letter accrynym (i.e. DallasWings --> DAL)

replacements = {
    "Dallas Wings": "DAL",
    "Chicago Sky": "CHI",
    "New York Liberty": "NYL",
    "Las Vegas Aces": "LVA",
    "Atlanta Dream": "ATL",
    "Los Angeles Sparks": "LAS",
    "Phoenix Mercury": "PHO",
    "Seattle Storm": "SEA",
    "Indiana Fever": "IND",
    "Washington Mystics": "WAS",
    "Minnesota Lynx": "MIN",
    "Connecticut Sun": "CON",
}
reduced_game18_df["Visitor/Neutral"].replace(replacements, inplace=True)

reduced_game18_df["Home/Neutral"].replace(replacements, inplace=True)

reduced_game19_df["Visitor/Neutral"].replace(replacements, inplace=True)

reduced_game19_df["Home/Neutral"].replace(replacements, inplace=True)

In [12]:
#View new Game Data DFs
#reduced_game18_df.head(30)
#reduced_game19_df.head(30)

Export new DFs to CSV files

In [13]:
# reduced_player19_df.to_csv(reduced_player19_df, encoding='utf-8', index=False)
reduced_player19_df.to_csv (r'/Users/caitlindonovan/Desktop/ColumbiaBootcamp/Homework/group_project2/Data/reduced_player19_df.csv
                            ', index = None, header=True)

SyntaxError: EOL while scanning string literal (<ipython-input-13-e2ff901e37c4>, line 2)